@import 'bootstrap';
@import 'splash';

header, footer, main {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header {
  text-align: center;
  margin-top: 0;
  .app-nav {
    @extend .navbar, .navbar-dark, .bg-primary;
    border-radius: 0;
  }
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
@media screen and (max-width: 767px) {
  footer, main {
    padding-left: 5%;
    padding-right: 5%;
  }
}


section {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.card {
  padding: 2rem;
}
section.card {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.btn-swiping {
  font-size: 2.75rem;
  margin: 0;
  width: 49%;
  padding-left: 0;
  padding-right: 0;
}
h4 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #888;
}
.btn .tag:last-child {
  right: -3px;
}
.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
.alert-error { @extend .alert-danger; }
