{% extends 'cards/base.html' %}
{% block page %}

  {% block header %}
  <header id="header">
    <nav class="app-nav navbar navbar-dark bg-primary p-a-0">
      <div id="navbar" class="container-fluid nav navbar-nav">
        <a class="nav-item navbar-brand nav-link"
        data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" href="#">
          <i class="fa fa-bars" aria-hidden="true"></i> Sunlo
        </a>

        {% if person.speaks_languages.count %}
        <a id="add-items-button" href="#" class="nav-item navbar-brand nav-link pull-xs-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus-circle"></i>
        </a>
        <ul id="add-items-menu" class="dropdown-menu pull-xs-right text-xs-right p-x-1">
          {% if decks.count %}
          <li>
            <a href="{% url 'card_add' %}">
            add a new card <i class="fa fa-file-text m-x-1"></i></a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'deck_add' %}">
            start a new deck <i class="fa fa-book m-x-1"></i></a>
          </li>
        </ul>
        {% endif %}

      </div>

      <div id="navigation" class="container p-x-0 collapse navbar-toggleable-xl">
        <ul class="nav navbar-nav">
          {% if decks %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Decks
            </a>
          </li>
            {% if deck %}
          <li class="nav-item active">
            <a class="nav-link active" href="{% url 'my_deck' deck.language.name %}">
              <i class="fa fa-book" aria-hidden="true"></i>
              {{ deck.language }}
            </a>
          </li>
            {% endif %}
            {% for d in decks %}
              {% if d != deck %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_deck' d.language.name %}">
              <i class="fa fa-book" aria-hidden="true"></i>
              {{ d.language }}
            </a>
          </li>
              {% endif %}
            {% endfor %}
          <li class="nav-item divider"></li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <i class="fa fa-database" aria-hidden="true"></i>
              Index
            </a>
          </li>
          {% if person %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile' %}">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              {{ person.salutation|capfirst }} profile
            </a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_page' %}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_page' %}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}
  </header>

  <main id="main">
    <section class="container-fluid back m-y-1">
    {% block back %}
    {% endblock %}
    </section>

    {% for message in messages %}
    <div class="alert alert-dismissable fade in
        {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}

  </main>

{% endblock %}
