{% extends 'cards/base.html' %}
{% block content %}

<section class="card">
  <div class="row">
    <div class="col-md-12">
      <h4 class="">{{ card.language.name }}</h4>
      <h1>{{ card.text }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="">English, French</h4>
      <div class="blockquote m-y-2">
        {% for phrase in card.cardtranslation_set.all %}
        <h3 class="text-muted"><em>&ldquo;{{ phrase.text }}&rdquo;</em></h3>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-6 text-md-right">

        <h4>Related</h4>
        <div class="">
          {% for phrase in card.see_also.all %}
          <h3><a href="{% url 'card_detail' phrase.id %}">{{ phrase.text }}</a></h3>
          {% endfor %}
        </div>

    </div>
  </div>
  <div class="text-xs-center m-y-2">
    <button class="p-y-2 btn btn-swiping btn-secondary btn-lg">Skip</button>
    <button class="p-y-2 btn btn-swiping btn-success btn-lg">Learn</button>
  </div>
</section>
{% endblock %}
