{% extends 'cards/app.html' %}

{% block sharemeta %}
  <title>Sunlo - Social Language Learning</title>
  <meta name="description" content="For language-learners who are self-teaching or learning from friends, immersed or trying to connect better with a mother tongue">

  <meta property="og:url" content="http://www.sunlo.co{{request.path}}" />
  <meta property="og:type" content="application" />
  <meta property="og:title" content="Learning {{ card.language }} With Friends" />
  <meta property="og:description" content="{{ card.text }}" />
  <meta property="og:image" content="" />
{% endblock %}

{% block back %}
{% if card.language in person.languages %}

<a href="{% url 'my_deck' card.language.name %}">
  <i class="fa fa-arrow-circle-left"></i> back to {{ card.language }} deck
</a>

{% endif %}
{% endblock %}

{% block content %}
<section class="card container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="">{{ card.language.name }}{% if membership %}, {{ membership.status }}{% endif %}</h4>
      <h1>{{ card.text }}</h1>
      <a id="pronunciation-button" href="#" data-toggle="modal" data-target="#pronunciation-admonish-modal" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-volume-up"></i> pronounce
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-md-right m-t-1">
      <h4>Translations</h4>
      <a id="add-translation-button" href="#" data-toggle="modal" data-target="#translation-add-form" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus-circle"></i> add a translation
      </a>
      <div class="blockquote m-y-1">
        {% for phrase in card.cardtranslation_set.all %}
        <h3 class="text-muted"><em>&ldquo;{{ phrase.text }}&rdquo;</em></h3>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-6">
      <h4>Related Phrases</h4>
      <a id="add-related-button" href="#" data-toggle="modal" data-target="#related-add-form" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus-circle"></i> add a related phrase
      </a>
      <div class="m-t-1">
        {% for phrase in card.see_also.all %}
        <h3><a href="{% url 'card_detail' phrase.id %}">{{ phrase.text }}</a></h3>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if deck %}
  <form method="post" role="form" action="{% url 'membership_update' card.id %}">
    {% csrf_token %}
    <div class="row m-y-2">
      <div class="col-md-4 m-b-1">
        {% if membership.status == 'learned' %}
        <button type="submit" name="status" value="learned" class="p-y-2 btn btn-block btn-success btn-lg">
          <i class="fa fa-star fa-lg"></i> Learned
        </button>
        {% elif membership.status == 'learning' %}
        <button type="submit" name="status" value="learned" class="p-y-2 btn btn-block btn-outline-success btn-lg">
          <i class="fa fa-star-o fa-lg"></i> Learned this!
        </button>
        {% else %}
        <button type="submit" name="status" value="learned" class="p-y-2 btn btn-block btn-outline-success btn-lg">
          <i class="fa fa-star-o fa-lg"></i> I know this!
        </button>
        {% endif %}
      </div>

      <div class="col-md-4 m-b-1">
        {% if membership.status == 'learning' %}
        <button type="submit" name="status" value="learning" class="p-y-2 btn btn-block btn-primary btn-lg">
          <i class="fa fa-star-half-o fa-lg"></i> Learning
        </button>
        {% elif membership.status == 'learned' %}
        <button type="submit" name="status" value="learning" class="p-y-2 btn btn-block btn-outline-primary btn-lg">
          <i class="fa fa-star-half-o fa-lg"></i> Still learning
        </button>
        {% else %}
        <button type="submit" name="status" value="learning" class="p-y-2 btn btn-block btn-outline-primary btn-lg">
          <i class="fa fa-download fa-lg"></i> Add to deck
        </button>
        {% endif %}
      </div>

      <div class="col-md-4 m-b-1">
        {% ifequal membership.status 'rejected' %}
        <button type="submit" name="status" value="rejected" class="p-y-2 btn btn-block btn-danger btn-lg">
          <i class="fa fa-times-circle fa-lg"></i> Rejected
        </button>
        {% else %}
        <button type="submit" name="status" value="rejected" class="p-y-2 btn btn-block btn-outline-danger btn-lg">
          <i class="fa fa-times-circle fa-lg"></i> Discard
        </button>
        {% endifequal %}
      </div>
    </div>
  </form>
  {% else %}
  <a href="{% url 'deck_add' %}" class="btn btn-primary btn-block btn-lg m-y-2 p-a-2">
    Start learning {{ card.language }}
  </a>
  {% endif %}

</section>

<div id="pronunciation-admonish-modal" class="modal fade">
  <div class="modal-dialog section" role="document">
    <div class="modal-content">
      <div class="modal-header p-a-2"><h2 class="m-a-0">Pronounce "{{ card.text }}"</h2></div>
      <div class="modal-body p-a-2">
        <p>
          <i class="fa fa-hand-stop-o"></i>
          Sunlo is a tool for <em>social language learning</em> &ndash;
          so go ask one of your {{ card.language }}-speaking friends how to
          pronounce this phrase.
          <i class="fa fa-comments-o"></i>
        </p>
      </div>
      <div class="modal-footer p-a-1 text-xs-center">
        <a href="whatsapp://send?text={{ "Hey friend, how do I pronounce this phrase: \""|urlencode }}{{ card.text|urlencode }}{{ "\"? send me a voice message back / thanks :)"|urlencode }}"
        class="btn btn-secondary m-y-1"><i class="fa fa-whatsapp"></i> Ask on WhatsApp</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="translation-add-form" class="modal fade">
  <div class="modal-dialog section" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <form method="POST" action="{% url 'translation_add' card.id %}" role="form">
          {% csrf_token %}
          <label>Translation language</label>
          <select class="form-control m-b-1" name="language_name" required>
            <option value="">-- select language --</option>
            {% for language in person.speaks_languages.all %}
            <option value="{{ language.name }}">{{ language.name }}</option>
            {% endfor %}
          </select>
          <div class="form-group">
            <label>Translation text</label>
            <textarea name="text" class="form-control" required></textarea>
            <a href="#" onclick="$('.form-group.literal').removeClass('hidden-xs-up'); $(this).remove()">
              Add a literal translation as well
            </a>
          </div>

          <div class="form-group hidden-xs-up literal">
            <label>Literal translation</label>
            <textarea name="literal" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary m-b-1"
            name="submit" value="Save translation">
          </div>

        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="related-add-form" class="modal fade">
  <div class="modal-dialog section" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <form method="POST" action="{% url 'relations_add' card.id %}" role="form">
          {% csrf_token %}
          <label>Select related phrases</label><br>
          <select class="form-control m-b-1" name="related_cards" multiple required>
            {% for this_card in card.language.card_set.all %}
            <option value="{{ this_card.id }}">{{ this_card.text }}</option>
            {% endfor %}
          </select>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary m-b-1"
            name="submit" value="Save relations">
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
