{% extends 'cards/base.html' %}
{% block content %}

<section class="card">

  <h3>Your deck of {{ deck.language.name }} flash cards</h1>
  <h4>{{ deck.cards.count }} cards </h4>
  <div class="row">
    <div class="col-sm-4">
      <a class="btn btn-block btn-outline-primary m-b-1" href="">
        {{ deck.suggestions.count }} suggestions
      </a>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-block btn-outline-primary m-b-1" href="">
        {{ deck.learning_cards.count }} learning
      </a>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-block btn-outline-primary m-b-1" href="">
        {{ deck.learned_cards.count }} learned
      </a>
    </div>
  </div>

  {% comment %}<a class="card">
    <div id="example-caption-1">Level 1&hellip; 80%</div>
    <progress class="progress" value="80" max="100" aria-describedby="example-caption-1"></progress>
  </a>
  <a class="card">
    <div id="example-caption-2">Level 2&hellip; 25%</div>
    <progress class="progress" value="25" max="100" aria-describedby="example-caption-2"></progress>
  </a>
  <a class="card">
    <div id="example-caption-3">Level 3&hellip; 50%</div>
    <progress class="progress" value="50" max="100" aria-describedby="example-caption-3"></progress>
  </a>
  <a class="card">
    <div id="example-caption-4">Level 4&hellip; 15%</div>
    <progress class="progress" value="15" max="100" aria-describedby="example-caption-4"></progress>
  </a>
  <a class="card">
    <div id="example-caption-5">Level 5&hellip; 0%</div>
    <progress class="progress" value="0" max="100" aria-describedby="example-caption-5"></progress>
  </a>{% endcomment %}

  <ul class="list-unstyled">
    {% for card in deck.cards.all %}
    <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
    {% endfor %}
  </ul>
</section>


{% endblock %}
