{% extends 'cards/app.html' %}

{% block back %}
<a href="{% url 'home' %}">
  <i class="fa fa-arrow-circle-left"></i> back to home screen
</a>
{% endblock %}

{% block content %}
<section class="card">
  <div class="row m-b-1">
    <div class="col-sm-8">
      <h3>Your deck of {{ deck.language_name }} flash cards</h3>
      <h4>{{ deck.deck_cards.count }} cards </h4>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'browse_deck' deck.language_name %}" class="btn btn-outline-primary">
        browse <i class="fa fa-play-circle" aria-hidden="true"></i>
      </a>
      <a href="{% url 'card_add' %}" class="btn btn-outline-primary">
        card <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#learning" data-toggle="tab" role="tab">{{ deck.learning_cards.count }} learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#suggestions" data-toggle="tab" role="tab">{{ deck.suggestions.count }} suggestions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#discarded" data-toggle="tab" role="tab">{{ deck.rejected_cards.count }} discarded</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#learned" data-toggle="tab" role="tab">{{ deck.learned_cards.count }} learned</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#discover" data-toggle="tab" role="tab">{{ deck.untouched_cards.count }} more</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12 p-y-1 tab-content">
      <div class="tab-pane active" id="learning" role="tabpanel">
        <h4>Your learning deck</h4>
        <ul class="list-unstyled">
          {% for card in deck.learning_cards %}
          <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="suggestions" role="tabpanel">
        <h4>Pending suggestions</h4>
        <ul class="list-unstyled">
          {% for card in deck.suggestions %}
          <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="discarded" role="tabpanel">
        <h4>Rejected cards</h4>
        <ul class="list-unstyled">
          {% for card in deck.rejected_cards %}
          <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="learned" role="tabpanel">
        <h4>Learned cards</h4>
        <ul class="list-unstyled">
          {% for card in deck.learned_cards %}
          <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="discover" role="tabpanel">
        <h4>More cards</h4>
        <ul class="list-unstyled">
          {% for card in deck.untouched_cards %}
          <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
