{% extends 'cards/base.html' %}
{% block content %}
<section class="card">
<div class="container">
  <h1>{{ language.name }}</h1>
  <div class="row">
    <div class="col-md-6">
      <h4>{{ language.card_set.count }} cards</h4>
      <ul class="list-unstyled">
        {% for card in language.card_set.all %}
        <li><a href="{% url 'card_detail' card.id %}">{{ card.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h4>{{ language.cardtranslation_set.count }} translations</h4>

      <ul class="list-unstyled">
        {% for phrase in language.cardtranslation_set.all %}
        <li><a href="{% url 'card_detail' phrase.card.id %}">{{ phrase.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

</section>
{% endblock %}
