{% extends 'cards/base.html' %}
{% block content %}

<h1>Manage your profile</h1>
<form method="POST" class="card">
  {% csrf_token %}
  <label>
    <strong>What languages do you understand?</strong>
  </label>
  <select multiple name="set_languages" class="form-control" length="{{ languages.count }}">
  {% for language in languages %}
    <option value="{{ language.name }}" {% if language in person.speaks_languages.all %}selected{% endif %}>{{ language.name }}</option>
  {% endfor %}
  </select>
  <br>
  <button class="btn btn-primary">Submit</button>
</form>

{% endblock %}
