header, footer, main {
  margin-left: auto;
  margin-right: auto;
}
main {
  border-radius: 10px;
  max-width: 800px;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  padding: 2rem;
}
.btn-swiping {
  font-size: 2.75rem;
  margin: 0;
  width: 49%;
  padding-left: 0;
  padding-right: 0;
}
h4 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #888;
}
header {
  text-align: center;
}
.btn .tag {
  right: -3px;
}
